<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h2>Your Pragmatic Cart</h2>
<ul>    
  <% @cart.line_items.each do |item| %>
    <li><%= item.quantity %> x <%= item.product.title %></li>
  <% end %>
</ul>

<%= button_to "Empty list", @cart, method: :delete, data: { confirm: "Are you sure?" } %>
<%= link_to 'Back to catalog', store_path %>
