<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h2>Your Pragmatic Cart</h2>

<table>
  <% @cart.line_items.each do |item| %>
    <tr>
      <td><%= item.quantity %>&times;</td>
      <td><%= item.product.title %></td>
      <td class="item_price"><%= number_to_currency(item.total_price) %></td>
      <td><%= button_to "Delete", item, method: :delete %></td>
    </tr>
  <% end %>

  <% if !@cart.line_items.empty? %>
  <tr class="total_line">
    <td colspan="2">Total</td>
    <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
  </tr>
  <% end %>
</table>

<% if !@cart.line_items.empty? %>
  <%= button_to "Empty list", @cart, method: :delete %>
  <%= link_to 'Back to catalog', store_path %>
<% end %>

<% if @cart.line_items.empty? %>
  <p>You do not have any products :(</p>
  <%= link_to 'Go to the store to buy something', store_path %>
<% end %>

